@import './variable.scss';

table {
    width: 40%;
    border: $border;
    border-collapse: collapse;
    tr {
        border: $border;
        border-collapse: collapse;
        th {
            height: 40px;
            border: $border;
            border-collapse: collapse;
        }
    }
}

  th, td {
    padding: 5px;
    text-align: left;
  }